<div class="content">
  <h3 class="purple"><%= t :top10 %></h3>
<table class="table table-condensed">
  <tr>
    <td><%= t :phrase %></td>
    <td><%= t :frequency %></td>
    <td><%= t :occurrence %></td>
    <td><%= t :points %></td>
  </tr>
<% phrases.each do |key, value| %>
  <tr>
    <td><%= key %></td>
    <td><%= value.frequency %></td>
    <td><%= value.occurrence %>%</td>
    <td><%= value.value %></td>
  </tr>
<% end %>
</table>
<br/>
</div>