<div class="content">
  <h3 class="purple"><%= t :other_info %>:</h3><br/>
  <span class="purple"><%= t :words, scope: [:nr_of] %></span>
  <%= nr_of_words %><br/>
  <span class="purple"><%= t :chars, scope: [:nr_of] %></span>
  <%= nr_of_chars %><br/>
  <span class="purple"><%= t :nodes, scope: [:nr_of] %></span>
  <%= nr_of_nodes %>
  <br/><br/>
</div>