<% # encoding: utf-8 %>
<h1><%= t :result_title %></h1>
<div class="content"><h3><span class="purple"><%= t :score %>:</span> <%= @score %></h3> </div>
<% if(params[:sample]) %>
  <div class="content"><h3><span class="purple"><%= t :page_url_analyse %></span><%= params[:sample][:address] %></h3></div>
<% end %>
<%= render "plagiarism", plagiarism: @plagiarism %>


<% if @problems %>
  <%= render "problems", problems: @problems %>
<% end %>

<%= render 'best_phrases', phrases: @best_phrases  %>

<%= render "html", html: @html , tag_problems: @tags_problem %>

<%= render 'other', nr_of_words: @nr_of_words, nr_of_chars: @nr_of_chars, nr_of_nodes: @nr_of_nodes %>



